.review-container {
  position: relative;
  height: 150px;
  width: 350px;
  transition: 0.5s;
}
.review {
  background-color: #b191ff;
  height: 150px;
  width: 350px;
  color: #ffffff;
  border-radius: 20px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 5px 13px #5527ca6b;
}
.review p {
  margin: 0;
}
.review img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 10px;
}
.user {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.text {
  font-weight: 400;
  width: 80%;
  text-align: left;
  font-size: 0.8rem;
}
.aspas {
  display: flex;
  position: absolute;
  width: 90%;
  height: 90%;

  justify-content: space-between;
}
.aspasL {
  color: #9c77f4;
}
.aspasR {
  color: #9c77f4;
  align-self: flex-end;
}
